{% extends 'base_labtests2.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block content %}


{% if error_pay %}
  <script type="text/javascript">
    alert("Payment failed due to error  from our system and we will get back soon to help you")
  </script>  
  {% endif %}



{% if pay_success %}
  <script type="text/javascript">
    alert("You have successfully ordered for medicines and will be delivered soon to your door")
  </script>  
  {% endif %}


{% if amount_check  %}
  <script type="text/javascript">
    alert("We don't  deliver medicines less than 500 shs")
  </script>  
  {% endif %}

  <style type="text/css">
      #my_bar {
    width: 100%;
    height: 45px;
    display:block;
    padding-bottom: 0px;
}

 #my_bar1 {
    width: 900px;
    height: 45px;
    display:block;
    padding-bottom: 0px;
}
#my_input {
    height: 100%;
    width: 100%;
    text-align: center;
}
#my_input_submit {
    height: 100%;
}
input, select {
    display:inline-block;
    vertical-align:middle;
}

</style>




<div class="container-register100" style="height:600px;">

  <form    class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-"   method="POST" action="{% url 'orderdrugs'  %}" id="med_form" autocomplete="off" style="width:600px;" >

        {% csrf_token %}
        
        
          <h6 style="color:green;font-size: 14px;font-weight: bold">
- 1 day Follow up , Get immediate Medicines <br/> 100% satisfaction, 27/4 instance access <br/>
-  Your money will be refunded incase the service is not rendered  </h6>
        <span  style="font-size: 24px;color: #333333;text-transform: uppercase;width: 100%;display: block;">



                      Order Medicines
                    </span>        
    

           <div>
           <table  class="table table-hover small-text" id="tb" style="width:300px">
    <tr class="tr-header" style="width:330px">
    <th>Drug Name.</th>
    <th>Amount</th>
    <th><a href="javascript:void(0);" style="font-size:18px;" id="addMore" title="Add More Person"><span class="glyphicon glyphicon-plus"></span></a></th>
    <tr tyle="width:800px" >
    <td><input type="text" name="drug" class="input100" id="drug"  ><div class="col" id="error5" style="color:red"></div></td>
    <td><input type="text" name="amount" class="input100"  id="amount" ><div class="col" id="error6" style="color:red"></div></td>
    <td><a href='javascript:void(0);'  class='remove' ><span class='glyphicon glyphicon-remove'></span></a></td>
    </tr>
    </table>

        </div>


        <div id="my_br">
        <select name="countryCode" id="countryCode"  style="height:33px;width:130px;float: left">
         <option data-countryCode="UG" value="256">Uganda (+256)</option>
        </select>
        <input class="input100" type="text" name="telno" placeholder ="Telephone Number"  id="my_input_submit" style="height:33px;width:170px;"  value="{{telno}}">
         </div>

  
        <div>
       <input class="input100" type="text" name="username" placeholder ="Username" style="width:59%;"  id="username"   value="{{username}}">
        </div>

        <div>
        <input class="input100" type="text" name="age" placeholder ="Age" style="width:59%;"  id="age"  value="{{age}}" >      
        </div>
       
        <div>
         <select type="text" name="city" Placeholder="Patient Age" style="width:59%;"  id="city">
        {% if  city %}
        <option value="{{city}}">Kampala</optio>
        {%  else %}
        <option value="" style="width: 100%">Select City</option>
         <option value="Kampala">Kampala</option>
        {% endif %}
        </select>
        </div>

      <div>
      <select type="text" name="area" Placeholder="Patient Area" style="width:59%;" id="area" >
       <option value="">Select  Area</option>
     {% include "area_in_kampala.html" %} 
      </select>
        </div>

      
       <div>
        <input class="input100" type="text" name="address" placeholder ="Address" style="width:59%;"  id="address" >
        </div>


          

          
          <p> 
            <div id="results"></div>
           
            <input type="submit" id="submit" class="rea"  style="font-size: 110%;
line-height: 1;
text-align: center;
background-color: #1fadc5;
display: inline-block;
color: #fff !important;
border-radius: 3em;
cursor: pointer;
max-width: 350px;
width: 100%;
padding: 0.9em;
margin-top: 11px;
border: 0;"  value="Submit" name="submit" required>
          

        </p>


    </form>

</div>

     <link  rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
    <script>
    $(function(){
        $('#addMore').on('click', function() {
                  var data = $("#tb tr:eq(1)").clone(true).appendTo("#tb");
                  data.find("input").val('');
         });
         $(document).on('click', '.remove', function() {
             var trIndex = $(this).closest("tr").index();
                if(trIndex>1) {
                 $(this).closest("tr").remove();
               } else {
                 alert("Sorry!! Can't remove first row!");
               }
          });
    });      
    </script>




{% endblock %}

  
