{% extends 'base_labtests.html' %}
{% load staticfiles %}
<!-- 
link for the popup

http://makecodeeasy.blogspot.ug/2012/07/popup-in-java-script-and-css.html -->

{% block content %}

  


<style type="text/css">
  <style type="text/css">
fieldset.date {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: .5em;
  display: block;
  border: none;
}

fieldset.date legend {
  margin: 0;
  padding: 0;
  margin-top: .25em;
  font-size: 100%;
}


fieldset.date label {
  position: absolute;
  top: -20em;
  left: -200em;
}

fieldset.date select {
margin: 0;
padding: 0;
font-size: 100%;
display: inline;
}

span.inst {
  font-size: 75%;
  color: blue;
  padding-left: .25em;
}


fieldset.date select:active,
fieldset.date select:focus,
fieldset.date select:hover
{
  border-color: gray;
  background-color: lightyellow;
}


  </style>

 <script type="text/javascript">
var numbers = /^[0-9]+$/;

function chkblnk(eid,errid)
{
var x=document.getElementById(eid).value;
if(x=="")
{
document.getElementById(errid).innerHTML="pls fill this field";
}
else
{
document.getElementById(errid).innerHTML="";
}
}
 
function chkAplha(event,err)
{
if(!((event.which>=65 && event.which<=90) || (event.which>=97 && event.which<=122) || event.which==0 || event.which==8))
{
document.getElementById(err).innerHTML="invalid name format";
return false;
}
}
 

function chkPhone(event,err) {
 
    if (event.which > 31 && (event.which < 48 || event.which > 57)) {

        document.getElementById(err).innerHTML="invalid Phone number format";
        return false;
    }
 
}

function chkeid()
{
var e=document.getElementById("phone").value;

if(atpos<4 || dotpos<atpos+3)
{
document.getElementById("error2").innerHTML="invalid email";
}
else
{
document.getElementById("error2").innerHTML="";
}
//alert(atpos+" "+dotpos);
}



function chkeid()
{
var e=document.getElementById("e").value;
var atpos=e.indexOf("@");
var dotpos=e.lastIndexOf(".");
if(atpos<4 || dotpos<atpos+3)
{
document.getElementById("error2").innerHTML="invalid email";
}
else
{
document.getElementById("error2").innerHTML="";
}
//alert(atpos+" "+dotpos);
}
</script>
{% if us_or_pwd %}
<div id="us_or_pwd" title="Username or password">
        <p><script type="text/javascript">alert("Wrong Username or Password");</script></p>
    </div>
{% endif %}

<div class="container-register100">
        <form class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30" action="{% url 'ViewPatDrugsOrdered'  %}"  method="POST" autocomplete="off" class="form-style-6" style="width:450px">
  <div id="container" >
   
{% csrf_token %}
        
        
<span class="login100-form-title">
                        View Ordered Drugs
                    </span>  

 <p>
          <input class="input100" type="text" name="username" placeholder ="Username" id="fn"  onkeypress="return chkAplha(event,'error')" onblur="chkblnk('fn','error')"  value="{{username}}">
          <div class="col" id="error" style="color:red"></div>
        <span class="focus-input100"></span>
                        <span class="symbol-input100"></span>
    </p>

   <p>
          <input class="input100" type="text" name="password" placeholder ="Password" id="p"  onblur="chkblnk('p','error4')">
           <div class="col" id="error4" style="color:red"></div>
        <span class="focus-input100"></span>
                        <span class="symbol-input100"></span>
    </p>
<p>

     <fieldset class="date">
  <legend>From Date </legend>
  <label for="month_start">Month</label>
  <select id="month_start"
          name="month_start" />
    <option value="1">January</option>      
    <option value="2">February</option>      
    <option value="3">March</option>      
    <option value="4">April</option>      
    <option value="5">May</option>      
    <option value="6">June</option>      
    <option value="7">July</option>      
    <option value="8">August</option>      
    <option value="9">September</option>      
    <option value="10">October</option>      
    <option value="11">November</option>      
    <option value="12">December</option>      
  </select> -
  <label for="day_start">Day</label>
  <select id="day_start"
          name="day_start" />
    <option value="1">1</option>      
    <option value="2">2</option>      
    <option value="3">3</option>      
    <option value="4">4</option>      
    <option value="5">5</option>      
    <option value="6">6</option>      
    <option value="7">7</option>      
    <option value="8">8</option>      
    <option value="9">9</option>      
    <option value="10">10</option>      
    <option value="1">11</option>      
    <option value="12">12</option>      
    <option value="13">13</option>      
    <option value="14">14</option>      
    <option value="15">15</option>      
    <option value="16">16</option>      
    <option value="17">17</option>      
    <option value="18">18</option>      
    <option value="19">19</option>      
    <option value="20">20</option>      
    <option value="21">21</option>      
    <option value="22">22</option>      
    <option value="23">23</option>      
    <option value="24">24</option>      
    <option value="25">25</option>      
    <option value="26">26</option>      
    <option value="27">27</option>      
    <option value="28">28</option>      
    <option value="29">29</option>      
    <option value="30">30</option>      
    <option value="31">31</option>      
  </select> -
  <label for="year_start">Year</label>
  <select id="year_start"
         name="year_start" />
    <option value="2009">2009</option>      
    <option value="2010">2010</option>      
    <option value="2011">2011</option>      
    <option value="2012">2012</option>      
    <option value="2013">2013</option>      
    <option value="2014">2014</option>      
    <option value="2015">2015</option>      
    <option value="2016">2016</option>      
    <option value="2017">2017</option>      
    <option value="2018">2018</option>   
    <option value="2019">2019</option>         
  </select>
  <span class="inst">(Month-Day-Year)</span>
</fieldset>

<fieldset class="date">
  <legend>To Date </legend>
  <label for="month_end">Month</label>
  <select id="month_end"
          name="month_end" />
   <option value="1">January</option>      
    <option value="2">February</option>      
    <option value="3">March</option>      
    <option value="4">April</option>      
    <option value="5">May</option>      
    <option value="6">June</option>      
    <option value="7">July</option>      
    <option value="8">August</option>      
    <option value="9">September</option>      
    <option value="10">October</option>      
    <option value="11">November</option>      
    <option value="12">December</option>    
  </select> -
  <label for="day_end">Day</label>
  <select id="day_end"
          name="day_end" />
   <option value="1">1</option>      
    <option value="2">2</option>      
    <option value="3">3</option>      
    <option value="4">4</option>      
    <option value="5">5</option>      
    <option value="6">6</option>      
    <option value="7">7</option>      
    <option value="8">8</option>      
    <option value="9">9</option>      
    <option value="10">10</option>      
    <option value="1">11</option>      
    <option value="12">12</option>      
    <option value="13">13</option>      
    <option value="14">14</option>      
    <option value="15">15</option>      
    <option value="16">16</option>      
    <option value="17">17</option>      
    <option value="18">18</option>      
    <option value="19">19</option>      
    <option value="20">20</option>      
    <option value="21">21</option>      
    <option value="22">22</option>      
    <option value="23">23</option>      
    <option value="24">24</option>      
    <option value="25">25</option>      
    <option value="26">26</option>      
    <option value="27">27</option>      
    <option value="28">28</option>      
    <option value="29">29</option>      
    <option value="30">30</option>      
    <option value="31">31</option>        
  </select> -
  <label for="year_end">Year</label>
  <select id="year_end"
         name="year_end" />
    <option value="2009">2009</option>      
    <option value="2010">2010</option>      
    <option value="2011">2011</option>      
    <option value="2012">2012</option>      
    <option value="2013">2013</option>      
    <option value="2014">2014</option>      
    <option value="2015">2015</option>      
    <option value="2016">2016</option>      
    <option value="2017">2017</option>      
    <option value="2018">2018</option>  
     <option value="2019">2019</option>        
  </select>
  <span class="inst">(Month-Day-Year)</span>
</fieldset>


            <p>
            <!-- <a style="font-family: sans-serif;font-size: 20px;color:rgb(8, 218, 243);" href="/admin/">Admin Login --></a>

            <input type="submit" id="submit" class="rea"  style="font-size: 110%;line-height: 1;text-align: center;background-color: #1fadc5;display: inline-block;
color: #fff !important;
border-radius: 3em;
cursor: pointer;
max-width: 350px;
width: 100%;
padding: 0.9em;
margin-top: 11px;
border: 0;"  value="SUBMIT" name="SUBMIT" required>
           
             </p>
   

    </form>

</div>

{% endblock %}

	
